/* margem site html */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* posicionamento */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

/* cabecalho */
header {
    background-color: #f9ff00;
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: none;
}

/* ? */
.header-title {
    color: black;
    font-size: 2rem;
}

/* posicionamento container main */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 5vh auto;
    padding: 50px;
    box-shadow: 2px 2px 10px;
    gap: 20px;
}

/* config botao save/delete */
footer {
    width: 100;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    padding: 20px;
}

/* config responsivo */
@media (min-width: 768px) {
    header {
        position: fixed;
        width: 100%;
    }
    .header-title {
        font-size: 1.5rem;
    }
    main {
        width: 100%;
        margin: 20px 0 0 0;
        padding: 0;
        box-shadow: none;
    }
}
/* ======================================= 2- button ======================================= */

/* config botao */
.button {
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
}

/* cor background botao */
.button.blue {
    background-color: #1FB6FF;
}

button.green {
    background-color: #13CE66;
}

button.red {
    background-color: #FF4949;
}

/* transicao botao */
.button:hover {
    box-shadow: inset 200px 0 0 #00000055;
}

/* config mobile button */
@media (min-width: 768px) {
    .button.mobile {
        color: transparent;
        font-size: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        top: 90vh;
        left: 80vw;
    }

    .button.mobile::before {
        content: "+";
        color: black;
        font-size: 2rem;
        width: 100%;
        height: 100%;
    }
}

/* ======================================= 3- CONTAINER =================================== */

/* CONTAINER PRINCIPAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    opacity: 0;
    z-index: -1;
}

.modal.active {
    opacity: 1;
    z-index: 1;
}

/* config cadastro menu */
.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 2px 2px 10px;
}

/* config titulo cadastro */
.modal-header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
}

/* config botao fechar */
.modal-close{
    position: absolute;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    user-select: none;
    text-align: center;
    cursor: pointer;
}

/* config botao fechar */
.modal-close:hover{
    background-color: #FF4949;
    color: white;
}

/* config formulario cadastro */
.modal-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

/* config formulario cx txt */
.modal-field {
    width: calc(50% - 10px);
    height: 40px;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px black;
    padding: 0 10px;
    font-size: 1rem;
}

/* config cx txt click */
.modal-field:focus {
    border: 2px solid;
    box-shadow: 0 0 3px;
}

/* config position salvar/delete */
.modal-footer{
    background-color: inherit;
    text-align: right;
    padding: 0 20px;
}

/* config responsive */
@media (max-width:480px){
    .modal{
        top:100%;
        transition: all 1s ease;
    }
    .modal.active{
        top:0;
    }
    .modal-content{
        margin:0;
        width:100%;
        position:fixed;
    }
    .modal-field{
        width:100%;
    }
}

/* ======================================= 4- lista ids =================================== */

/* config position ids */
.records {
    width: 100%;
    user-select: none;
    text-align: left;
}

/* config designer ids */
.records th{
    height: 50px;
    background-color: #f9ff00;
    padding-left: 20px;
    font-size: 1.2rem;
}

.records td {
    height: 50px;
    padding-left: 20px;
}

/* config position txt ids */
.records th:last-child,
.records td:last-child {
    padding: 0;
    min-width: 140px;
    text-align: center;
}

.records tr:hover{
    background-color: #f9ff00;
}

/* responsive config ids */
@media(max-width:480px){
    .records{
        border-spacing: 5px;
    }
    .records thead{
        display:none;
    }
    .records tr{
        box-shadow: 0 1px 3px;
    }
    .records td:not(:first-child){
        display:flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .records td{
        margin:10px 0;
    }

    .records tr:hover{
        background-color: inherit;
    }
}








